<p-table [columns]="columns" [value]="dataToShow" [paginator]="true" [rows]="8" [resizableColumns]="true" >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" >
          {{col.header}}
        </th>
        <th>Akcia</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData  let-i="rowIndex" let-columns="columns">
      <tr >
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
        <td ><a (click)="removeData(i)" >Zrušiť</a></td>
      </tr>
    </ng-template>
  </p-table>