
input{
    margin-right: 5px;
}
.firstChooseDate{
    position: absolute;
    right: 50px;
    top: 50px;
}
.secondChooseDate{
    position: absolute;
    top: 80px;
    right: 50px;
}
.chooseDateButtons{
    position:absolute;
    right: 45px;
    top: 110px;
}

.showButton{
    position: absolute;
    display: block;
    right: 45px;
    top: 145px;
}

.cancelButton{
    background-color: gray;
}
.cancelButton:hover{
    background-color: #696969;
}

